@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
*{
  background-color:"#f5f5f";
}
@layer base {
    body {
    @apply font-[#f5f5f]
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    
}

/* .content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important; 
     duration:2s 
    
} */
.nav_Link li{
    font-size: 30px;
}
.nav_Link li:hover{
    border-bottom: 2px solid rgb(228, 34, 157); 
}
.myName{
    
    font-weight: bold;
}
.Presentation{
    font-size: 30px;
    /* margin-bottom: 40%;
    font-weight:200; */
    
} 

.profilPhoto{
    width: 600px;
  
}

.name{
    font-size: 10px;
}
.skill{
    margin-top: 800px;
 }
.skills img{
    height: 80px;
}
.footer{
    position: sticky;
    bottom: 2px;
    margin-top: 150px;
   
}
.footer p{
    
    font-size: 20px;
    font-weight: 300;
}